body {




font-family: 'Playfair Display SC', serif;
color: white;










}



#head {

height: auto;
width: 30vw;
min-width: 200px;
display: block;
margin-left: auto;
margin-right: auto;
position: sticky;

}






p{

text-align: center;




}





img.photo {


height: auto;
width: 75%;
padding-top: 5px;
padding-bottom: 5px;


}

img.social {

height: auto;
width: 300px;
padding-top: 0px;
padding-bottom: 0px;


}






img.about {

height: auto;
width: 100%;
max-width: 1000px;

padding-top: 5px;
padding-bottom: 5px ;
display: block;



}


html { 
    background-image: url("blackgroundcolor.jpg");
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}





div.footer {
   position: absolute;
   bottom:0px;
   width:100%;
   height: 20px;
   background: clear;
   color: lightgray;


}

div.footernav {

padding-bottom: 10px;


}

div.footerclose {

text-align: left;

color: white;



}


html.club { 
    background: url(club.jpg) no-repeat center center fixed; }



body.club {

    background-color: transparent;
    color: white;

}



.fullscreenDiv {
    background-color: transparent;
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
}
.center{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




#footer {
    position: fixed;
    bottom: 0;
    width: 0 auto ;
    max-width: 100vw;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
}



p.footer {

    text-align: center;
    font-size: 8pt;
    color: white;

}

a.footer{

color: black;
text-decoration: none;



}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.navbar {
    font-size: 18px;
    background-image: linear-gradient(260deg, #339999 0%, #cc9999 100%);

    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}





/* 


.center:hover {

    background-image: url("blackgroundcolor.jpg");
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
