body {




font-family: 'Karla', sans-serif;
color: black;


}



p{

text-align: center;
color: black;



}





img.photo {


height: auto;
width: 75%;
padding-top: 5px;
padding-bottom: 5px;


}

img.social {

height: auto;
width: 300px;
padding-top: 0px;
padding-bottom: 0px;


}






img.about {

height: auto;
width: 100%;
max-width: 1000px;

padding-top: 5px;
padding-bottom: 5px ;
display: block;



}








div.footer {
   position: absolute;
   bottom:0px;
   width:100%;
   height: 20px;
   background: clear;
   color: lightgray;


}

div.footernav {

padding-bottom: 10px;


}

div.footerclose {

text-align: left;

color: white;



}


html.club { 
    background: url(club.jpg) no-repeat center center fixed; }



body.club {

    background-color: transparent;
    color: white;

}



.fullscreenDiv {
    background-color: transparent;
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
}
.center{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




#footer {
    position: fixed;
    bottom: 0;
    width: 0 auto ;
    max-width: 100vw;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
}



p.footer {

    text-align: center;
    font-size: 8pt;
    color: white;

}

a.footer{

color: black;
text-decoration: none;



}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}




div.header {
    align-content: center;
    background: lightblue;
    border-bottom: 5px;
    border-color: black;
    position: fixed;
    width: 100%;

}



h1.title {

    text-align: center;
    margin: 20px;

}


p.title {
    text-align: center;
    margin: 20px;
    color: black;
    z-index: 999;

}

div.content {


    padding-top: 130px;
    color: black;
  

   
    
}

.centered {
    margin-top: 30vh;
    margin-bottom: 50vh;
    text-align: center;
    font-size: 4vw;
    margin-left: 50px;
    margin-right: 50px;



  
  
  }

  div.information {
    
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;


  }

  p.information {
      font-style: italic;
      color:  black;

  }



  .container {
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:flex-start;
    align-items:stretch;
}

.left {order:1; background:red; flex-basis:100%; height:300px}
.middle {order:3; background: green;flex-basis:100%; height:300px;}
.right {order:2; background:yellow;flex-basis:100%; height:300px;}

@media screen and (min-width:600px) {
   .container {
       flex-wrap:nowrap;
   } 

    .left {
        flex-basis:200px;
        order:1;
    }
    .middle {
        flex-basis:1;
        order:2;
    }
    .right {
        flex-basis:200px;
        order:3;
    }
}











/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: auto;
    text-align: center;
    border-left: 5px;
    border-right: 5px;
    border-color: lightgray;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }


img.information {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 25%;
    align-content: center;
    

}


/* 
fffffff

.center:hover {

    background-image: url("blackgroundcolor.jpg");
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
