body {




font-family: 'Playfair Display SC', serif;
color: white;










}



#head {

height: auto;
width: 30vw;
min-width: 200px;
display: block;
margin-left: auto;
margin-right: auto;
position: sticky;

}

.center:hover {

    background-image: url("blackgroundcolor.jpg");
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}




p{

text-align: center;




}





img.photo {


height: auto;
width: 75%;
padding-top: 5px;
padding-bottom: 5px;


}

img.social {

height: auto;
width: 300px;
padding-top: 0px;
padding-bottom: 0px;


}






img.about {

height: auto;
width: 100%;
max-width: 1000px;

padding-top: 5px;
padding-bottom: 5px ;
display: block;



}


html { 
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}





div.footer {
   position: absolute;
   bottom:0px;
   width:100%;
   height: 20px;
   background: clear;
   color: lightgray;


}

div.footernav {

padding-bottom: 10px;


}

div.footerclose {

text-align: left;

color: white;



}


html.club { 
    background: url(club.jpg) no-repeat center center fixed; }



body.club {

    background-color: transparent;
    color: white;

}



.fullscreenDiv {
    background-color: transparent;
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
}
.center{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




#footer {
    position: fixed;
    bottom: 0;
    width: 0 auto ;
    max-width: 100vw;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
}



p.footer {

    text-align: center;
    font-size: 8pt;
    color: black;

}

a.footer{

color: black;
text-decoration: none;


}


/* 


.center:hover {

    background-image: url("blackgroundcolor.jpg");
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
